{% extends "layout/basic.html" %}
{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<h2>Декларирование грузов на Ленинградском таможенном посту позволяет контролировать их
    перемещение через российскую границу, ограничивать перевозку подозрительных грузов,
    запрещать вывоз национальных ценностей, а также взимать налоги и таможенные пошлины.
    Грузовая таможенная декларация входит в перечень документации, обязательной для осуществления внешней
    торговой деятельности.
</h2>

{% endblock %}

