{% extends "layout/basic.html" %}

{% block title %}Процедура сброса пароля{% endblock %}

{% block content %}
    <h1>Сброс старого пароля</h1>
    {% if validlink %}
        <p>Введите Ваш новый пароль дважды:</p>
        <form  method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка сброса пароля недействительна, скорее всего, потому, что она
            уже была использована. Запросите сброс нового пароля.</p>
    {% endif %}
{% endblock %}